{{#partial "styles"}}
    <link rel='stylesheet' href='/css/index.css'>
{{/partial}}

{{#partial "content"}}
    <div class="background">

        <div class=" ">

            <h1>Welcome to Pelah News Website. </h1>
            <h4>Click to below to add details</h4>
        </div>
        <hr>

        <div class="button-all">
            <a href="/form" class="btn btn-half">Add department</a>
            <a href="/form2" class="btn btn-half">Add news</a>
            <a href="/form3" class="btn btn-half">Add users</a>

        </div>
    </div>
{{/partial}}
{{>layout.hbs}}