body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/butterfly2.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    font-family: 'Sansita', sans-serif;

}

form{
padding-top: 20px;
}

h1{
font-family: 'Lucinda Bright', 'Books Antiqua', Serif;
text-align:center;
color:white;
margin-bottom: -40px;
margin-top:20px;
}

.button {
	 color:rgba(250,250,250,1);
      background-color:rgba(255, 72, 0,0.85);
	width: 150px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px;
	display: block;
	margin: auto;
	cursor: pointer;
	outline: none;


}

.button:hover {
	 border-width:5px;
}
.button::before{
  content:"";
  width:100%;
  height:1px;
  background-color:rgba(25,25,25,1);
  position:absolute;
  transform:scaleX(0.1);
  visibility: hidden;
  bottom:-3px;
  right:0;
  left:0;
  margin:0 auto;
  transition:all 200ms ease-in-out;
}

.button:hover .button::before{
  transform:scaleX(1);
  visibility: visible;
  background-color:rgba(250,250,250,1);
}

h2{
text-align:center;
margin-top: -50px;
}
input[type=text] {

	cursor: pointer;

   font-size: 15px;
    	color: black;
    	border: none;
    	border-bottom: 1px solid #214E34;
    	padding-top: 10px;
    	outline: none;
}

label, .try {
	cursor: pointer;
	padding-left: 35px;
	font-size: 18px;
	display: inline-block;
    vertical-align: middle;
}
.questionnaire {
	color: #214E34;
	border: 1px solid #214E34;
	width: 750px;
	background-color: rgba(224,255,255,0.4);
	font-family: 'Lucinda Bright', 'Books Antiqua', Serif;

  margin: 100px auto;
	border-radius: 5px;
	padding: 20px 20px 0;

}
.text {
	padding-left: 40px;
}
input:focus::-webkit-input-placeholder {
	color:transparent;
}
input:focus:-moz-placeholder {
	color:transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
	color:transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
	color:transparent;
} /* IE 10+ */


