
{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>
            {{#block "title" }}wildlife-tracker{{/block}}

        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Sansita&display=swap" rel="stylesheet">

        <link rel='stylesheet' href='/css/app.css'>
        {{#block "styles"}}{{/block}}

    </head>
    <body>
{{/block}}

<header id="header">
    <nav id="nav-bar">

        <a class="nav-link" href="/">HOME</a>
        <a class="nav-link" href="/form">ADD DEPARTMENT</a>
        <a class="nav-link" href="/form2">ADD NEWS</a>
        <a class="nav-link" href="/form3">ADD USERS</a>

    </nav>

</header>

<div class="container">
    <!--begin main template-->

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
{{#block "footer"}}
    </div>
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    </body>
    </html>
{{/block}}











